services:
  app:
    image: freqtradeorg/freqtrade:stable
    restart: unless-stopped
    volumes:
      - freqtrade_data:/freqtrade/user_data
      - ./config_futures.json:/freqtrade/config_futures.json:ro
    environment:
      - DRY_RUN=false
    expose:
      - "8089"
    command: ["freqtrade", "trade", "--config", "/freqtrade/config_futures.json"]

volumes:
  freqtrade_data: